<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atpco.audit.mapper.share.AtpcoTTBS190Mapper">
    <resultMap type="com.atpco.audit.model.AtpcoTTBS190" id="AtpcoTTBS190">
        <result column="REC_TYPE" property="recType" jdbcType="VARCHAR"/>
        <result column="ACTION" property="action" jdbcType="VARCHAR"/>
        <result column="TBL_ID" property="tblId" jdbcType="VARCHAR"/>
        <result column="TBL_NO" property="tblNo" jdbcType="VARCHAR"/>
        <result column="SEGS" property="segs" jdbcType="VARCHAR"/>
        <result column="APPL" property="appl" jdbcType="VARCHAR"/>
        <result column="CXR" property="cxr" jdbcType="VARCHAR"/>
        <result column="REST" property="rest" jdbcType="VARCHAR"/>
        <result column="MD5" property="md5" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="query190" resultMap="AtpcoTTBS190">
        SELECT DISTINCT * FROM ATPCO_TTBS_190 WHERE TBL_NO = #{no}
    </select>
</mapper>
